.button-with-img-on-the-right {
  display: flex;
  align-items: center;
  padding: 0;

  span {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }

  svg {
    position: relative;
    margin-left: auto;
    border-left: 0.15rem solid rgba(0,0,0,0.05);
    float: right;
    height: 100%;
    padding: 0.3rem;
    width: 2.6rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.invisible {
  visibility: hidden;
}
