* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.greenbutton {
  border-radius: 5px;
  background: #71cf48;
  width: 120px;

  height: 32px;
  margin-top: 10px;
}

.bluebutton {
  border-radius: 5px;
  background: #1264a3;
  width: 120px;
  height: 32px;

  margin-right: 10px;

  height: 32px;
  margin-top: 10px;
}

.boxbutton {
  border-radius: 5px;
  background: #1264a3;
  width: 32px;
  height: 32px;

  margin-right: 10px;
  margin-top: 10px;
}

.note-form {
  display: inline-block;
  position: absolute;
  padding: 0.35rem 2rem;
  width: calc(100vw - 23.5rem);
  height: calc(100vh - 4rem);
}

.note-form .note-form-head {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.note-form .note-form-head button:hover {
  cursor: pointer;
}

.note-form .note-form-head .buttons-group-left {
  display: flex;
  flex-direction: row;
}
.note-form .note-form-head .buttons-group-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.note-form .note-form-body {
  height: calc(100vh - 14.7rem);
  margin-top: 1rem;
}

.note-form .note-form-body .note-content {
  width: 100%;
  height: calc(100% - 6rem);
}

.note-form .note-form-body hr {
  margin: 1.5rem 0;
}

.note-form .note-form-body .note-title input {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.note-form .note-form-body .note-content textarea {
  border: none;
  color: #bfbfbf;
  resize: none;
  width: 100%;
  height: 100%;
  outline: none;
  color: black;
}

.note-form .note-form-footer {
  height: 3rem;
}

.note-form .note-form-footer button:last-of-type {
  float: right;
}

.note-form .note-form-footer button.primary-button {
  background-color: #71cf48;
  outline: none;
  border: none;
  width: 14rem;
  padding: 0.3rem 1rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.note-form .note-form-footer button.primary-button img {
  position: relative;
  right: -15px;
  margin-left: auto;
  border-left: 0.1rem solid #68c142;
  padding: 0.6rem;
}

.title {
  margin-top: 15px;
  color: #bfbfbf;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.description {
  margin-top: 35px;
  color: #bfbfbf;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none !important;
}
