.createnote {
  border-radius: 5px;
  background: #71cf48 !important;
  width: 218px;
  height: 32px;
  flex-shrink: 0;
  padding-top: 5px;
}

.child1div {
  margin-top: 19px;
  margin-left: 10px;
}

.search-bar-div {
  margin-top: 15px;
  margin-left: 10px;
  position: absolute;
  top: 0vh;
  left: 15vw;
}

.maindiv2 {
  position: absolute;
  display: inline-flex;
}

.notebody {
}
