.app-header {
  font-weight: normal;
  background-color: #1f2a44;
  padding: 0.1em;
}

.app-title {
  color: #fff;
}

.sideBar {
  display: inline-block;
}

.notes-header {
  display: flex;
}

.note2 {
  padding-left: 1em;
}

button {
  border-radius: 5px;
  background: #1264a3;
  color: #fff;
  width: 350px;
  height: 42px;

  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  text-align: left;
}

.foldericon {
  width: 30px;
  height: 22px;
  flex-shrink: 0;
  margin-right: 1em;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}
