* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

#root {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content content";
  height: 100vh;
  grid-template-columns: 25rem 1fr;
}

.content-container {
  background-color: white;
  border-radius: 1rem;
  margin: 0.7rem 0.7rem 0.7rem 0;
  padding: 0.35rem 2rem;
  width: calc(100vw - 25.5rem);
  height: calc(100vh - 4.5rem);
}

#sidebar {
  height: calc(100vh - 4.5rem);
  overflow-y: scroll;
  width: 23.5rem;
  display: inline-block;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0.3rem 0.7rem 0.3rem;
  background-color: white;
  border-radius: 1rem;
  margin: 0.7rem;
}

#sidebar::-webkit-scrollbar {
  width: 6px;
  max-height: 3px;
  min-height: 3px;
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar-track {
  background-color: #f4f5f6;
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 1rem;
}

.note2 {
  padding-left: 1em;
}

/* button {
  border-radius: 5px;
  background: #1264a3;
  color: #fff;
  width: 350px;
  height: 42px;

  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  text-align: left;
} */

.foldericon {
  width: 30px;
  height: 22px;
  flex-shrink: 0;
  margin-right: 1em;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  background-color: #f4f5f6;
}